[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KLINK"]
	path = KLINK
	url = https://github.com/magnusdv/klink
[submodule "dvir"]
	path = dvir
	url = https://github.com/magnusdv/dvir
[submodule "forrel"]
	path = forrel
	url = https://github.com/magnusdv/forrel
[submodule "ibdsim2"]
	path = ibdsim2
	url = https://github.com/magnusdv/ibdsim2
[submodule "paramlink"]
	path = paramlink
	url = https://github.com/magnusdv/paramlink
[submodule "paramlink2"]
	path = paramlink2
	url = https://github.com/magnusdv/paramlink2
[submodule "pedFamilias"]
	path = pedFamilias
	url = https://github.com/magnusdv/pedfamilias
[submodule "pedbuildr"]
	path = pedbuildr
	url = https://github.com/magnusdv/pedbuildr
[submodule "pedmut"]
	path = pedmut
	url = https://github.com/magnusdv/pedmut
[submodule "pedprobr"]
	path = pedprobr
	url = https://github.com/magnusdv/pedprobr
[submodule "pedsuite"]
	path = pedsuite
	url = https://github.com/magnusdv/pedsuite
[submodule "pedtools"]
	path = pedtools
	url = https://github.com/magnusdv/pedtools
[submodule "ribd"]
	path = ribd
	url = https://github.com/magnusdv/ribd
[submodule "segregatr"]
	path = segregatr
	url = https://github.com/magnusdv/segregatr
[submodule "verbalisr"]
	path = verbalisr
	url = https://github.com/magnusdv/verbalisr
